.cardSuggetionMedia{
    margin-top: 15px;
}
.cardSuggetion{
    margin-top: 20px;
    height: 240px;
    max-height: 250px;
    overflow-y: scroll;
}
#seeAll{
    position: absolute;
    right: 20px;
    top: 26px;
}
#historys{
    margin-top: 15px;
    margin-left: 10px;
}
#titleSuggetions{
    max-height: 50px;
}