.cardSuggetionMedia{
    margin-top: 15px;
}
.cardSuggetion{
    min-width: 250px;
    margin-top: 20px;
    height: 240px;
    max-height: 250px;
    overflow-y: scroll;
}
#seeAll{
    position: absolute;
    right: 20px;
    top: 26px;
}
#Histories{
    margin-top: 15px;
    margin-left: 10px;
}
#titleSuggetions{
    max-height: 50px;
}
#suggetionsBlock{
    padding-top: 0;
}